.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rdata
*.h5
*.pdf
*.nc
*.nc.var
MANDIFORE_runs/*/outdir/*
MANDIFORE_big_run/*/outdir/*
completed_runs/*/outdir/*
errored_runs/*/outdir/*
!**/logfile.txt
*.db
*.zip
*.csv

